@model Szakdoga.Models.Food.FoodAllergyTypeVM
@{
    ViewData["Title"] = "Új étel allergia hozzáadása";
}

@*<h1>Create</h1>*@

<h4>Új étel allergia hozzáadása</h4>
<hr/>
<div class="row">
    <div class="col-md-4">
        <form asp-action="CreateAllergy">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Létrehozás" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Vissza a listára</a>
</div>

